
.conversation {
    position: relative;
    left: 160px;
    width: calc(100% - 160px);
}

.chat-header {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.chat-header > button {
    background-color: #6a040f;
    color: whitesmoke;
    width: 60px;
    border-radius: 10px;
    transition: 0.7s;
}

.chat-header > button:hover {
    background-color: #dc2f02;
}

.chatWindow {
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30em;
}

.caja {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

.closechat {
    margin-left: 20px;
    margin-top: 20px;
    background-color: #dc2f02;
    color: whitesmoke;
    width: 60px;
    height: 40px;
    border-radius: 30%;

    transition: 0.7s;
}

.closechat:hover {
    background-color: #6a040f;
}





