.contenedor {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloH1 {
    text-align: center;
    padding-bottom: 3rem;
}

.spanTitulo {
    font-weight: 700;
    font-size: 74px;
}