.card-emple{
    width: 308px;
    height: 63vh;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-left: 12%;
    margin-bottom: 25px;
}

.imagen{
    height: 190px;
    width: 100%;
    /* background-size: cover; */
    object-fit: cover;
}

.info{
 color: rgb(255, 254, 254);
}

h2{
    font-size: 1.5rem;
    color: #28175a;
    padding: 2rem 1rem;
    letter-spacing: -1px;
    font-family: 'Poppins', sans-serif;
}

.main-paragraph{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 300;
    padding: 1px 1.5rem;
    color: white;
    margin-top: -10%;
}

.pret{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: whitesmoke;
}

.sueldo{
    color: #28175a;
}

.disp{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: white;
}

.tiempo{
    color: #28175a;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
    margin-left: 0%;
    margin-top: 2%;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
    margin-left: -21px;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 115%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }

@media (min-width: 1140px){
    .card-emple{
        height: 20rem;
        width: 60rem;
        display: flex;
        flex-direction:row-reverse;
        margin-left: 4%;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
        transition: all 400ms ease;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .card-emple:hover{
        box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.4);
        transform: translateY(-3%);
    }

    .img-sec{
        display: flex;
        width: 30%;
        align-items: center;
    }

    .imagen{
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    .info{
        font-family: 'Poppins', sans-serif;
        text-align: left;
        width: 80%;
    }

    h2{
        font-family: 'Poppins', sans-serif;
        padding: 2rem 3rem;
        text-transform: uppercase;
        margin-left: 0%;
    }

    .main-paragraph{
        margin-top: -3%;
        margin-left: 4%;
    }

    .overviews{
        margin: 2rem;
        margin-left: 7%;
    }

    .overview{
        display: inline-block;
    }

    .pret{
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        font-weight: 500;
        color: #ffffff;
    }

    .sueldo{
        color: #28175a;
    }



    .disp{
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        font-weight: 500;
        color: #fbfbfb;
    }

    .tiempo{
        color: #28175a;
    }

    button.learn-more{
        width: 14rem;
        height: auto;
        margin-left: 35%;
        margin-top: 0%;
    }
}