.homecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.divJobs {
    text-align: center;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: -96px;
    margin-left: 50px;
}