.Content{
    margin: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.ProfileImg{
    max-width: 200px;
}
.Header{
    position: relative;
    margin: 30px;
    display: flex;
    justify-content:start;
}

.EditProfile{
    position: absolute;
    right: 0;
}
.UserName{
    margin-left: 30px;
}

.ProfileInfo{
    margin: 30px;
}
.Cards{
    display: flex;
    position: relative;
}

.JobsCard{
    width: 40%;
    display: flex;
    justify-content: center;
}

.PostsCard{
    width: 60%;
}

.PostsCard div{
    background-color: #F0F2F5;
    width: 80%;
    margin-left: 10%;
    height: 100px;
    margin-top: 20px;
}

.Logout{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: end;
}