.message{
    display: flex;
    flex-direction: column;
}

.body {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 30em;
}

.messageImg{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 10px;
}


.messageBottom{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}


.messageinfo {
    display: flex;
    flex-direction: column;
}