.formEmpleado_main{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    color: white;
}

.title-form{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
}

.inputs{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
}

.btn-form{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}


.formEmpleado_boton{
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3] 1fr [x4] 1fr [x5];
}

.formEmpleado_boton div{
    grid-column: x2/x3;
}

.formEmpleado_fotos {
    display: flex;
    flex-wrap: wrap;
}

.boxfoto {
    display: flex;
    flex-direction: row;
    margin: 10px;
    border: solid black;
}

.boxfoto > input {
    max-width: 100px;
    max-height: 100px;
}

.boxfoto > button {
    width: 30px;
    height: 30px;
}

.lean-more2{
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    width: 12rem;
    height: auto;
    margin-left: 0%;
    margin-top: 2%;
   }
   
   
   .lean-more2 .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
   }
   
   .lean-more2 .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   .lean-more2 .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   .lean-more2 .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   .lean-more2 .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #df2f2f;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   .lean-more2:hover .circle {
    width: 100%;
   }
   
   .lean-more2:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   .lean-more2:hover .button-text {
    color: #fff;
   }